
@{
    ViewBag.Title = "BookSearch";
}

@model IEnumerable<BookStore.Models.Book>

<div id="searchresults">
    <h3>All author's books : @Model.First().Author</h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>
</div>

